@import "../../styles/_mixins.scss";

.hero-container {
    width: 100%;
    background-image: url("../../images/starryNight2.png");
    background-size: cover;
    background-position: center top;
    color: white;
    padding-bottom: 20px;
    background-repeat: no-repeat;

    @include mq("tablet", min) {
        padding-bottom: 50px;

        h1 {
            margin-top: 10px;
        }
    }

    @include mq("tablet-wide", min) {
        padding-bottom: 70px;
        background-position: center; 

    }

    h1 {
        margin-bottom: 12px;
    }
}

.sub-heading {
    margin-bottom: 12px;

    @include mq("tablet-wide", min) {
        margin-bottom: 20px;
        font-size: 22px;
    }
}