@mixin flex($direction: row,
    $justify: center,
    $align: center,
    $flex-wrap: nowrap) {
    display: flex;
    flex-wrap: $flex-wrap;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

$breakpoints: (
  "phone-small": 320px,
  "phone": 415px,
  "phone-wide": 480px,
  "tablet-small": 640px,
  "phablet": 680px,
  "tablet": 768px,
  "tablet-edge": 769px,
  "tablet-wide": 1024px,
  "desktop": 1248px,
  "desktop-wide": 1440px,
  "desktop-wide-helper": 1640px,
  "tv": 1820px,
  "tv-wide": 2400px,
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}