@import "../../styles/_mixins.scss";

.page-header {
    font-size: 22px;
    color: #003366;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 600;

    @include mq("tablet", min) {
        font-size: 30px;
    }
}