@import "../../styles/_mixins.scss";

.page-header-gallery {
    font-size: 22px;
    color: #003366;
    margin-top: 0px;
    font-weight: 600;
    text-align: center;
    padding-top: 30px;

    @include mq("tablet", min) {
        font-size: 30px;
    }

    @include mq("desktop", min) {
        font-size: 30px;
    }
}

.page-header-gallery-2 {
    font-size: 30px;
    color: #003366;
    margin-top: 0px;
    font-weight: 600;
    text-align: center;
    // padding-bottom: 30px;

    @include mq("tablet", min) {
        font-size: 30px;
    }

    @include mq("desktop", min) {
        font-size: 30px;
    }
}